<div class="row">
	<div class="col-lg-3" style="padding-top: 20px">
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Hola Amigo.</h3>
				<strong>BS</strong>
			</div>

			<ul class="list-unstyled components">


				<li>
					<a data-toggle="collapse" aria-expanded="false" routerLink="userlist">
						<i class="fa fa-graduation-cap"></i>
						Studentlist
					</a>
				</li>
				<li>
					<a data-toggle="collapse" aria-expanded="false" routerLink="mentorlist">
						<i class="fa fa-users"></i>
						Mentorlist
					</a>
				</li>
				<li>
					<a data-toggle="collapse" aria-expanded="false" routerLink="courselist">
						<i class="fa fa-book"></i>
						Courses list
					</a>
				</li>
				<li>
					<a data-toggle="collapse" aria-expanded="false" routerLink="addcourse">
						<i class="fa fa-plus-square-o"></i>
						Add Course
					</a>
				</li>
				<li>
					<a data-toggle="collapse" aria-expanded="false" routerLink="traininglist">
						<i class="fa fa-list"></i>
						Training List
					</a>
				</li>
				<li>
					<a data-toggle="collapse" aria-expanded="false" routerLink="paymentlist">
						<i class="fa fa-credit-card"></i>
						Payments List
					</a>
				</li>
			</ul>


		</nav>


	</div>
	
	<div class="col-lg-9" List>
		<router-outlet></router-outlet>
	</div>
</div>