<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="../../assets/images/5eKX.gif" alt="sing up image"></figure>
                <a routerLink="/studentsignup" class="signup-image-link">Create an  Student account</a>
            </div>
  
            <div class="signin-form">
                <h2 class="form-title">Login Champ</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="fa fa-envelope-o"></i></label>
                        <input type="text" [(ngModel)]="loginUserData.email" name="email" id="your_name" placeholder="Email ID"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="fa fa-unlock-alt"></i></label>
                        <input type="password" [(ngModel)]="loginUserData.password" name="password" id="your_pass" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" (click)="loginUser()" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="https://facebook.com/"><i class="display-flex-center zmdi zmdi-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="https://google.com/"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>