<div class="container" style="padding-top: 100px; width: 2500px;">
    <div class="row">
        <div class="card-deck">
            <div class="card" style="width:200px; height:250px; color: white;">
                <span style="padding: 15px; color: goldenrod" class="fa fa-search"></span>
                <div class="card-body">
                    <h4 class="card-title">Find Trainers</h4>
                    <p>Search for available Trainers and Courses</p>
                    <a href="search.html" class="btn btn-warning">View</a>

                </div>
            </div>

            <div class="card" style="width:200px; height:250px; color: white;">
                <span style="padding: 15px; color: goldenrod" class="fa fa-search"></span>
                <div class="card-body">
                    <h4 class="card-title">Completed Shit</h4>
                    <p>Search for completed Courses</p>
                    <a href="search.html" class="btn btn-warning">View</a>

                </div>
            </div>

            <div class="card" style="width:200px; height:250px; color: white;">
                <span style="padding: 15px; color: goldenrod" class="fa fa-search"></span>
                <div class="card-body">
                    <h4 class="card-title">OnGoing Shit</h4>
                    <p>Search for Ongoing Courses</p>
                    <a href="search.html" class="btn btn-warning">View</a>

                </div>
            </div>

        </div>
    </div> 

